pre {
    white-space: pre-wrap;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    color: #505050;
    background-attachment: fixed;
}

h3 {
  font-size: large;
}

footer {
  position: fixed;
  bottom: 20px;
}

#cerilink {
  text-decoration: none;
}

#cerilink * {
  vertical-align: middle;
  display: inline;
  font-size: 40px;
  color:#505050;
  text-decoration: none;
}

#models {
  display:flex;
  flex-direction: row
}

.model {
  border-right: 1px solid;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.model b {
  background: #d9ffd9;
}

.button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  background-color: #ffffff;
  border-width: 2px;
  border-color: #000000;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 1s
}